<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b66870">  <td>20/01/10 21:31:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NavigationTest.beforeMethod()[pri:0, instance:com.example.NavigationTest@3532ec19]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>20/01/10 21:32:02</td>   <td>3143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationTest.navigateToAUrl()[pri:0, instance:com.example.NavigationTest@3532ec19]">navigateToAUrl</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>20/01/10 21:32:02</td>   <td>3473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NavigationTest.afterMethod()[pri:0, instance:com.example.NavigationTest@3532ec19]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>20/01/10 21:32:02</td>   <td>3560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;NavigationTest.beforeMethod()[pri:0, instance:com.example.NavigationTest@3532ec19]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>20/01/10 21:32:04</td>   <td>5367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NavigationTest.searchProduct()[pri:0, instance:com.example.NavigationTest@3532ec19]">searchProduct</td> 
  <td>main@1938056729</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>20/01/10 21:32:04</td>   <td>6055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;NavigationTest.afterMethod()[pri:0, instance:com.example.NavigationTest@3532ec19]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1938056729</td>   <td></td> </tr>
</table>
